<section class=" ml-300 mt-5" id="footer">
    <div class="btns">
    </div>
  
         <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Name of the product</th>
                      <th scope="col">Category</th>
                      <th scope="col">Price</th>
                  </thead>
                  <tbody>
                    <% singleproduct.forEach(function(product, i){ %>
                    <tr>
                      
                      <td ><img class="product-image" src="/product_img/<%= product.orders._id %>.jpg" alt="no"></td>
                      <td><%= product.orders.productname %></td>
                      <td><%= product.orders.category %></td>
                      <td>₹<%= product.orders.price %></td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
  </section>