<section>
    <div class="login-register-area pt-85 pb-90 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ms-auto me-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" data-bs-toggle="tab" href="/login">
                                <h4> Enter new password </h4>
                            </a>

                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                                <form action="/changepassword" method="post">
                                                    <input type="password" name="password" placeholder="enter new password">
                                                    <input type="text" name="userId" value="<%= usersession._id%>" hidden>
                                                    <div class="button-box">
                                                        <div class="login-toggle-btn">
                                                        </div>
                                                        <button type="submit">submit</button>
                                                    </div>
                                              </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>