<section>
    <div class="login-register-area pt-85 pb-90 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ms-auto me-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" data-bs-toggle="tab" href="/login">
                                <h4> login </h4>
                            </a>
                            <a href="/signup">
                                <h4> register </h4>
                            </a>
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <% if(locals.error) { %>
                                            <div class="alert alert-danger" role="alert">
                                                <%= error %>
                                            </div>
                                            <% } %>
                                                <form action="/userlog" method="post">
                                                    <input type="text" name="useremail" placeholder="Email">
                                                    <input type="password" name="pass" placeholder="Password">
                                                    <div class="button-box">
                                                        <button type="submit">Login</button>
                                                    </div>
                                                    
                                                </form>
                                                <div class="login-toggle-btn ">
                                                    <form action="/otpnumber" method="post">
                                                    <button class="loginbtn" type="submit">OTP LOGIN</button>
                                                    </form>
                                                </div>
                                                <div class="login-toggle-btn  ml-300">
                                                    <form action="/otpnumber" method="post">
                                                    <button class="loginbtn" type="submit">Forgot Password?</button>
                                                    <input value="true" name="data" hidden>
                                                </form>
                                                </div>
                                                
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
</section>